*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

header,
footer{
    background-color: #6c63ff;
    height: 80px;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.cards-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
}

.links-list{
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    height: 100%;
    align-items: center;
}

.links-list li{
    padding: 8px 15px;
}

.container{
    border: 1px solid red;
    margin: 0 auto;
    width: 100%;
    max-width: 1170px;
    height: 100%;
    padding: 15px;
}

a{
    text-decoration: none;
}

body{
    font-family: "Roboto", sans-serif;
}

.login-btn{
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 5px;
    width: 120px;
    height: 40px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.main-section{
    padding: 100px 0 146px;
}

h1{
    font-weight: 700;
    font-size: 44px;
    text-transform: uppercase;
    color: #2f2e41;
    margin-bottom: 70px;
    text-align: center;
}

.card{
    border: 2px solid #e7e7e7;
    border-radius: 5px;
    width: 330px;
    /*height: 552px;*/
    background-color: #fff;
    padding: 46px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.card-title{
    font-weight: 700;
    font-size: 22px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    text-align: center;
    color: #2f2e41;
    margin-bottom: 40px;
    max-height: 181px;
}

.card-img{
margin-bottom: 36px;
}

.card-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    letter-spacing: -0.02em;
    color: #2f2e41;
}

.card-text span{
    font-weight: 700;

}

footer a{
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.02em;
    text-transform: capitalize;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
}


@media screen and (max-width: 768px) {
    .main-section{
        padding: 46px 0 50px;
    }

    h1{
        font-weight: 700;
        font-size: 36px;
        text-transform: uppercase;
        color: #2f2e41;
        margin-bottom: 70px;
        text-align: center;
    }
}